/* default styling */
* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Animations */
@keyframes linkHoverAnimation{
    from {font-size: large;
        color: whitesmoke;}
    to {font-size: xx-large;
        color: gold;}
}

/* Navbar Styling */
nav{
    position: fixed;
    background-color: black;
    border-bottom: 8px ridge blue;
    padding: 1.5%;
    max-height: 6.5vh;
    width: 100vw;
    top: 0em;
    font-size: large;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;

}

.navLink{
    color: whitesmoke;
}

.navLink:hover{
    color: gold;
    font-size: xx-large;
    animation-name: linkHoverAnimation;
    animation-duration: 3s;
}

/* Footer Styling */
footer{
    background-color: black;
    border-top: 8px ridge blue;
    padding: 1.5%;
    max-height: 6.5vh;
    width: 100vw;
    bottom: 0em;
    font-size: large;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.footerLink{
    color: whitesmoke;
}


.footerLink:hover{
    color: gold;
    font-size: xx-large;
    animation-name: linkHoverAnimation;
    animation-duration: 3s;
    
}

.footerLink:focus{
    color: blueviolet;
}

.footerLink:active{
    color: blue;
}

