/* default styling */
* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Animations */


/* Projects Styling */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3em;
    background-color: black;
}

.panels {
    height: 85vh;
}

.panel {
    height: 33.6%;
    max-width: 1000px;
    border-radius: .5;
    /* padding: 2.5em; */
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
    color: rgb(228, 253, 0);
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
    font-family: Courier;
    font-weight: 700;
    font-size: xx-large;
    
}

.description {
    color: cornsilk;
    font-family: 'Amatic SC', cursive;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-weight: 400;
    font-size: large;
    visibility: hidden;
}

/* Project Styling Specific to Each Id*/

#panelOne {
    background-image: url(../resources/Crick_Crossing.jpg);
    background-size: 100%;
    background-position-y: top;
}

#panelTwo {
    background-image: url(../resources/Pets_Amok.JPG);
    background-size: 100%;
    background-position-y: 50%;
}

#panelThree {
    background-image: url(../resources/Route_Finder.JPG);
    background-size: 100%;
    background-position-y: bottom;
}

/* Toggle Classes for Animations */

.open {
    height: 75%;
    
}

.close {
    height: 7.5%;
}