/* default styling */
* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Animations */


/* Projects Styling */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3em;
    background-color: black;
}

.panels {
    height: 85vh;
}

.panel {
    /* height: 34%;
    border: blue ridge 8px;
    border-radius: .5;
    display: flex;
    align-items: center;
    padding: 2.5em; */

    background: blue;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.panel.open {
    flex: 5;
    font-size: 40px;
  }

.title {
    color: rgb(228, 253, 0);
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
    font-family: Courier;
    font-weight: 700;
    font-size: xx-large;
    
}

.description {
    color: cornsilk;
    font-family: 'Amatic SC', cursive;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-weight: 400;
    font-size: large;
}

/* Project Styling Specific to Each Id*/

#panelOne {
    background-image: url(../resources/Crick_Crossing.jpg);
    background-size: 100%;
    background-position-y: top;
}

#panelTwo {
    background-image: url(../resources/Pets_Amok.JPG);
    background-size: 100%;
    background-position-y: 50%;
}

#panelThree {
    background-image: url(../resources/Route_Finder.JPG);
    background-size: 100%;
    background-position-y: bottom;
}

/* Toggle Classes for Animations */

.take-over {
    height: 70%;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.cut-back {
    height: 15%;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}