/* default styling */
* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Animations */
@keyframes linkHoverAnimation{
    from {font-size: large;
        color: whitesmoke;}
    to {font-size: xx-large;
        color: gold;}
}

/* Navbar Styling */
nav{
    position: fixed;
    background-color: black;
    border-bottom: 8px ridge blue;
    padding: 1.5%;
    width: 100vw;
    top: 0em;
    font-size: large;
    font-weight: 900;
    display: flex;
    justify-content: space-around;

}

.navLink{
    color: whitesmoke;
}

.navLink:hover{
    color: gold;
    font-size: xx-large;
    animation-name: linkHoverAnimation;
    animation-duration: 3s;
}

/* Footer Styling */
footer{
    position: fixed;
    background-color: black;
    border-top: 8px ridge blue;
    padding: 2.5%;
    width: 100vw;
    bottom: 0em;
    font-size: large;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}

.footerLink{
    color: whitesmoke;
}


.footerLink:hover{
    color: gold;
    font-size: xx-large;
    animation-name: linkHoverAnimation;
    animation-duration: 3s;
    
}

.footerLink:focus{
    color: blueviolet;
}

.footerLink:active{
    color: blue;
}

/* About Me Styling */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    background-color: black;
}

#photoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    color: whitesmoke;
    font-size: larger;
    font-weight: bolder;
    padding-top: 1.75em;
    padding-bottom: 1em;
}

#photo{
    margin-top: 8.5em;
    max-width: 50vw;
    border-radius: 2em;
    border: 3px double darkgrey;
}

#photoLabel{
    color: whitesmoke;
    opacity: .75;
}

#photoBackDrop{
    max-width: 95vw;
    border-radius: 5em;
    border: 10px solid whitesmoke;
    position: absolute;
    z-index: -1;
    opacity: .5;
}

.button {
    margin-top: 1em;
    border-radius: .5em;
    border: 3px double darkgrey;
    transition: all 1.5s ease;
}

.fun {
    transform: scale(1.25);
    border: 8px solid yellow;
}

#infoText {
    padding-top: 10em;
    max-width: 90vw;
    margin-bottom: 13vw;
    color: whitesmoke;
}